*{
    font-family: 'Source Sans Pro', sans-serif;
}


nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 10px;
}

body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{flex: 1;}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.9);
    gap: 1em;
    padding: 10px;
}

img{
    height: 40px;
    width: auto;
}

nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

a{
    text-decoration: none;
    padding: 20px;
    color: inherit;
}


a::before {
    background: hsl(45 100% 70%);
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}


a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}
